@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background-color: #f62da2;
  margin: 0;
}
.presentacion {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.corazonContainer {
  position: relative;
  width: 500px;
  height: 500px;
  margin-bottom: 0px;
}
.corazon {
  position: absolute;
  width: 100%;
}
.tituloPortada {
  width: 100%;
  position: relative;
  margin-bottom: 90px;
}
@keyframes flicker {
  0%,
  20%,
  24%,
  100% {
    -webkit-filter: none;
    filter: none;
  }

  22%,
  26%,
  100% {
    -webkit-filter: drop-shadow(0 0 7px #fa13e7) drop-shadow(0 0 10px #fa13e7)
      drop-shadow(0 0 21px #fa13e7) drop-shadow(0 0 42px #fa13e7);
    filter: drop-shadow(0 0 7px #fa13e7) drop-shadow(0 0 10px #fa13e7)
      drop-shadow(0 0 21px #fa13e7) drop-shadow(0 0 42px #fa13e7);
  }
}
@keyframes apaga {
  0%,
  20%,
  24%,
  100% {
    opacity: 0;
  }

  22%,
  26%,
  100% {
    opacity: 1;
  }
}

#Capa_1 {
  animation: flicker 4s infinite;
}

#Capa_2 {
  animation: apaga 4s infinite, flicker 4s infinite;
}

#containerFigus {
  position: absolute;
  width: 80%;
  height: 50vh;
  top:100px;
  display: none;
  place-items: center;
  background-color: rgba(140, 189, 235, 0);
}
#containerFigus img {
  position: absolute;
  display: block;
  width: auto;
  max-height: 50vh;
}
#textoMusa{
  display: block;
  position: absolute;
  bottom:20px;
  width: 70%;
  left:15%
}

/*
transition-property: background-color, color, left;
  transition-duration: 5s;
  -webkit-transition-property: background-color, color, left;
  -webkit-transition-duration: 5s;
  -o-transition-property: background-color, color, left;
  -o-transition-duration: 5s;
  */
#nombreMusa{
  position: relative;
  display: block;
  line-height: 60px;
}
#descripcionMusa{
  position: relative;
  margin-left: 20px;
  color: rgb(0, 0, 0);
  font-family: Barlow, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
}
h1 {
  position: absolute;
  text-align: center;
  font-family: Barlow, sans-serif;
  font-weight: 800;
  display: block;
  width: 100%;
  font-size: 70px;
  margin: 0;
  color: rgb(0, 0, 0);
  z-index: 500;
}
#ini {
  position: absolute;
  border: #134dfa;
  background-color: deepskyblue;
  text-align: center;
  font-size: 18px;
  height: 56px;
  color: #000000;
}

#juego {
  display: none;
  position: absolute;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: #f62da2;
  z-index: 500;
}

.musasContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.musasTitulo {
  position: absolute;
  top: 0px;
  line-height: 100px;
}

.header {
  position: absolute;
  width: 100%;
  height: 200px;
}

.corazonContainerChico {
  position: relative;
  width: 100px;
  top: 50px;
  left: 50px;
}

#ini {
  height: 64px;
  width: 170px;
  font-family: Barlow, sans-serif;
  color: white;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  line-height: 20px;
  padding-bottom: 8px;
  border-radius: 8px;
  background: linear-gradient(145deg, #2c61dd, #3474ff);
  
}

#ini:hover {
  cursor: pointer;
  background: linear-gradient(145deg, #3474ff, #2c61dd);
}

@media (max-width: 600px) {
  .corazonContainer {
    position: relative;
    width: calc(100% - 60px);
    top: 100px;
  }
  h1{
    font-size: 30px;
  }
  .musasTitulo {
    top:30px;
    line-height: 40px;
  }
  .musasContainer {
    width: 100%;
  }
  #textoMusa{
    display: block;
    position: absolute;
    bottom:20px;
    width: calc(100% - 60px);
    bottom: 30px;
left:0px;
width: 100%;  }

  #nombreMusa{
    position: relative;
    display: block;
    line-height: 30px;
  }
  #descripcionMusa{
    position: relative;
    margin-left: 20px;
    width: calc(100vw - 40px);
    color: rgb(0, 0, 0);
    font-family: Barlow, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
}
